@font-face {
  font-family: 'IBM Bold'; /*a name to be used later*/
  src: url('assets/fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf'); /*URL to font*/
}

@font-face {
  font-family: 'IBM Regular'; /*a name to be used later*/
  src: url('assets/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf'); /*URL to font*/
}

html,body,#root {
  margin: 0;
  height: 100%;
  width: 100%;
}